@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins';
}

body
{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container
{
    position: relative;
}

.container h3
{
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 10rem;
}

.container h3:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.container h3:nth-child(2)
{
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate
{
    0%,100%
    {
        clip-path: polygon(59% 32%, 78% 31%, 90% 40%, 100% 52%, 100% 100%, 0 100%, 0 66%, 17% 64%, 31% 53%, 45% 41%);
    }

    50%
    {
        clip-path: polygon(63% 53%, 78% 47%, 90% 41%, 100% 50%, 100% 100%, 0 100%, 0 27%, 15% 37%, 24% 46%, 41% 50%);
    }
}